浩瀚的太平洋横亘在中国和拉丁美洲大陆之间，往日相距万里如天涯海角，如今“云”端相连似右邻左舍。

今年以来，新冠肺炎疫情在全球持续蔓延，各国普遍进入封城、停航“断联”状态，国际交往按下了“暂停键”，但中国与拉美和加勒比变中寻机，顺势而为，积极拓展写信、通电话、开视频会议等融媒体新渠道，开启零距离、零障碍、零时差的“云交往”新模式。

**元首“云沟通”，中拉高层统领固本强心**

**![](http://world.people.com.cn/NMediaFile/2020/0723/MAIN202007231420000585666593802.jpg)**

“中方面对严峻疫情挑战，举国上下团结一心，……彰显了社会主义制度的巨大优势。……古方将在这一艰难时刻同中方坚定站在一起，并愿随时向中国兄弟提供一切力所能及的帮助。”

“面对疫情，中阿人民同舟共济、相互支持，体现了两国人民的深厚情谊。……中方愿继续同阿根廷积极开展抗疫合作，并向阿提供力所能及的帮助。”

习近平主席在“云外交”中强调，全球疫情仍在发展，只有各国团结合作，才能最终战而胜之。中方愿继续同拉美各国开展抗疫合作，深化疫后务实合作，共同推动构建人类命运共同体。

八通越洋电话，二十余封函电。在疫情特殊背景下，习近平主席作为国家的掌舵者和人民的领路人，同包括巴西、阿根廷、古巴、墨西哥、智利、委内瑞拉等国在内的拉美多国领导人保持密切联系和沟通，为中拉关系新形势下的发展巩固了根本基石，点亮了指路明灯。

**政治“云外交”，中拉携手抗疫命运与共**

**![](http://world.people.com.cn/NMediaFile/2020/0723/MAIN202007231422000022122084842.jpg)**

“疫情发生以来，中拉守望相助，克服地理障碍开展全方位抗疫合作，成为国际抗疫合作的重要部分。”王毅国务委员兼外长在主持中国同拉美和加勒比国家应对新冠肺炎疫情特别外长视频会议时称，“中拉携手抗疫，生动诠释了‘天涯若比邻’和‘患难见真情’”。王毅国务委员还同古巴、巴西、阿根廷、哥伦比亚、多米尼加等国外长通电话、致函电，就共同抗疫、庆祝建交周年等交流沟通。

中拉双边磋商交往亦结合形势变化，拓展线上新阵地，中墨（西哥）外交部第17次政治磋商会议、中阿（根廷）政府间常设委员会政治分委会第三次会议、中国—巴拿马外交部第二次政治磋商均以视频形式成功召开。

面对疫情在拉美扩散，中国积极主动、创新方式与地区国家开展合作，协调地方省市与阿根廷、智利、巴拿马、哥斯达黎加、萨尔瓦多等拉美10余国进行“一对一”专家视频连线会议，同加勒比建交国召开应对疫情副外长级特别会议，和安第斯国家举办防疫经验视频交流会，面向整个地区国家举办疫情防控视频工作会议，邀请国家卫健委高级别代表出席拉共体卫生部长防疫视频会议。

通过一场场跨越太平洋的远程“云”会议，中国毫无保留地分享疫情防控和诊疗经验，向拉美人民提供急需的援助，传递中拉命运与共、守望相助的情谊和温暖。

**经贸“云对接”，中拉务实合作前景无限**

**![](http://world.people.com.cn/NMediaFile/2020/0723/MAIN202007231423000031182778780.jpg)**

中国政府同智利、乌拉圭等拉美国家举行“云磋商”，共同发表多项联合声明，呼吁在全球抗疫合作背景下维护贸易畅通，加强自贸合作，确保产业链、供应链稳定运行，为各国疫情后复工复产、恢复经济做出积极贡献。

第127届广交会从线下搬至“云端”，吸引了海量拉美展客商观展。中国企业针对美洲时区制定直播方案，全方位展示展厅产品，拉美采购商足不出户就能找货源、下订单、做生意。首次参展的一家中国医疗器械公司开播后仅10分钟就斩获一笔来自厄瓜多尔8万美元的订单。

中国贸促会举办中国—拉美（墨西哥）国际贸易数字展览会，邀请2000多家中国企业和5000多家拉美采购商参展，紧扣拉美市场需求，利用大数据提供精准配对和在线洽谈服务，累计达成贸易成交额802万美元。

“云展会”为中拉企业打通了特殊形势下产销对接的堵点，提供了获订单、拓市场、稳增长的新手段，探索了提升中拉经贸合作质量的新业态和新路子。

**民间“云互动”，中拉人文交流蓬勃发展**

**![](http://world.people.com.cn/NMediaFile/2020/0723/MAIN202007231424000034965149629.jpg)**

“尽管病毒让我们彼此隔离，但不能隔离爱和希望。”今年国际儿童节之际，北京第109中学小学实验部学生用中、西双语向智利总统皮涅拉致信并录制视频，传递中智友好和“童心”抗疫的情谊。皮涅拉总统亲自复信表示感谢，勉励小学生们为增进智中友好作出贡献。中智主流媒体予以密集报道，在两国社会各界引发热烈反响。

疫情发生后，拉美各国政党政要、民间组织纷纷致函电、在社交媒体发声支持中国抗疫斗争。拉美出现疫情时，中方亦通过信函、电话、视频分享中国抗疫经验，助力拉美抗疫。中联部同阿根廷、巴西、智利、古巴等拉美多国共产党举行视频会议，就坚持共产党人的初心使命、加强抗疫合作进行交流，这是今年在中国共产党与世界政党高层对话会框架下举行的首场多边网络视频会。中国人民对外友好协会与来自巴西、阿根廷、智利、秘鲁等拉美12国的13个对华友好组织视频对话，各方代表“云”相聚、叙友谊、话合作。

中拉民间交往在疫情催化下加速“触网”，大洋两岸的中拉政党政要、专家学者、各界人士从线下沙龙转移到线上平台，打破时间和空间的限制，迎来了实时对话、无限沟通的未来发展新机遇。

中拉本远隔重洋，但在疫情特殊背景下，借“云”之翼，双方交往由原来的“面对面”、“手握手”变为如今的“屏对屏”、“线对线”，不仅减轻了疫情影响，而且化危为机，成功克服了传统交往方式中存在的地理障碍，沟通交流更畅快、更便捷、更高效，有力保持了高层交往势头，相互了解和信任不断深化,人员交流和经贸务实合作更加密切，推动了双方友好关系在新时期新形势下的一次“云间飞跃”。（作者是国际问题评论员）